<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script src="js/jquery.js"></script>
<div id="id" class="id">测试</div>
<script>
    window.onload = function(){
        var id = document.getElementById("id");
        console.log(id.innerHTML+"---2");
    }

    /*;(function(window){
        console.log("屏幕款度：" + window.innerWidth + "、高度：" + window.innerHeight)
        var id = document.getElementById("id");
        console.log(id.innerHTML+"---1");
    }(window));

    $(function(){
        var id = document.getElementById("id");
        console.log(id.innerHTML+"---3");

    })*/

</script>


</body>
</html>
