<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.project.dao.DataCountDao">
    <resultMap id="dataCountResult" type="com.example.student.project.domain.DataCount" >
        <result property="userId" column="user_id"/>
        <result property="videoId" column="video_id"/>
        <result property="videoLikeNum" column="video_like_num"/>
        <result property="videoCommentNum" column="video_comment_num"/>
        <result property="videoShareNum" column="video_share_num"/>
        <collection property="likeVideoIds"
                    ofType="java.lang.Long"
                    select="getLikeVideoIdList" column="user_id">
        </collection>
        <collection property="attentionAuthorIds"
                    ofType="java.lang.Long"
                    select="getAttentionAuthorId" column="user_id">
        </collection>
        <collection property="collectVideoIds"
                    ofType="java.lang.Long"
                    select="getCollectVideoId" column="user_id">
        </collection>
    </resultMap>
    <select id="getCollectVideoId" parameterType="java.lang.Long"
            resultType="java.lang.Long">
        select video_id
        from user_collect_video_detail
        where status=0 and user_id=#{userId}
        order by update_time desc
    </select>
    <select id="getAttentionAuthorId"  parameterType="java.lang.Long"
            resultType="java.lang.Long">
			select author_id
            from vedio_attention_detail
            where status=0 and user_id=#{userId}
            order by update_time desc
	</select>
    <select id="getLikeVideoIdList"  parameterType="java.lang.Long"
            resultType="java.lang.Long">
			select
			s.content_id
		from font_thumbsup_detail s
		where s.user_id = #{userId} and s.status=0
		order by s.create_time desc
	</select>
    <select id="getVideoLikeNum" resultMap="dataCountResult">
        select content_id as video_id,count(*) as video_like_num
        from font_thumbsup_detail
        where status=0 and content_type=1
        group by content_id
    </select>

    <select id="getVideoCommentNum" resultMap="dataCountResult">
        select content_id as video_id,count(*) as video_comment_num
        from front_comment_detail
        where status=5 and content_type=1
        GROUP BY content_id
    </select>

    <select id="getVideoShareNum" resultMap="dataCountResult">
        select content_id as video_id,count(*) as video_share_num
        from font_share_detail
        where content_type=1
        GROUP BY content_id
    </select>

    <select id="getUserLikeVideoList" resultMap="dataCountResult">
        select user_id from font_thumbsup_detail
        where status=0
        group by user_id
    </select>

    <select id="getAttentionAuthorIdList" resultMap="dataCountResult">
        select user_id
        from vedio_attention_detail
        where status=0
        group by user_id
    </select>

    <select id="getCollectVideoList" resultMap="dataCountResult">
        select user_id
        from user_collect_video_detail
        where status=0
        group by user_id
    </select>

    <select id="getCookbookVideoList" resultType="java.lang.Long">
        select id as video_id
        from op_short_vedio
        where status=0 and is_ad=1
    </select>



</mapper>